trigger:
  branches:
    include:
      - main     # change if your branch is different

pool:
  vmImage: 'ubuntu-latest'

variables:
  NODE_VERSION: '18'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '$(NODE_VERSION)'
  displayName: 'Use Node $(NODE_VERSION)'

- checkout: self
  displayName: 'Checkout Source Code'

- task: Cache@2
  inputs:
    key: 'npm | "$(Agent.OS)" | package-lock.json'
    path: $(Pipeline.Workspace)/.npm
    restoreKeys: |
      npm | "$(Agent.OS)"
  displayName: 'Cache npm dependencies'

- script: npm ci
  displayName: 'Install Dependencies (npm ci)'

- script: npm test --if-present
  displayName: 'Run Tests'

- script: npm run build --if-present
  displayName: 'Build App'

- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: '$(Build.SourcesDirectory)'
    artifactName: 'source-code'
  displayName: 'Publish Source as Artifact'
